body {
    background-color: aquamarine;
    color: pink;
    font-family: monospace;
    font-size: 40px;
}

.copyright {
    font-size: 25px;
}

ul {
    display: flex;
    gap: 40px;
}

li {
    list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: pink;
}

